## Job Scraping

In [8]:
import csv
from jobspy import scrape_jobs

df = scrape_jobs(
    site_name=["indeed"],
    search_term='"data engineer"',
    google_search_term="",
    location="France",
    results_wanted=300,
    #hours_old=168, #max week
    country_indeed='France',
)
print(f"Found {len(df)} jobs")

2025-01-28 17:47:20,314 - INFO - JobSpy:Indeed - search page: 1 / 3
2025-01-28 17:47:22,536 - INFO - JobSpy:Indeed - search page: 2 / 3
2025-01-28 17:47:24,228 - INFO - JobSpy:Indeed - search page: 3 / 3
2025-01-28 17:47:25,885 - INFO - JobSpy:Indeed - finished scraping

Found 300 jobs

## Data Transformation

In [9]:
import pandas as pd
import re
import numpy as np

In [10]:
columns_to_keep = ['id', 'job_url','title', 'company',
       'location', 'date_posted', 'job_type', 'min_amount', 'max_amount','is_remote', 'job_level','description',
       'company_industry','company_num_employees']
df = df[columns_to_keep]

In [11]:
skills_keywords = [
    # Front-End (optional but useful for full-stack roles)
    "Vue", "React", "Angular", "HTML", "CSS", "JavaScript",

    # APIs
    "GraphQL", "Rest", "gRPC",

    # Back-End Frameworks
    "Django", "Flask", "FastAPI",

    # Programming Languages
    "Python", "Java", "Scala", "Go", "Rust",

    # Query and Scripting Languages
    "SQL", "NoSQL", "Bash", "Shell scripting",

    # Containerization and Orchestration
    "Docker", "Kubernetes", "Podman",

    # Cloud Platforms
    "AWS", "Azure", "Google Cloud Platform (GCP)", "IBM Cloud",

    # Infrastructure and Automation
    "CI/CD", "Terraform", "Ansible", "Jenkins", "GitHub Actions",

    # Databases
    "PostgreSQL", "MySQL", "MongoDB", "Cassandra", "Oracle DB", "Snowflake", "Redshift", "BigQuery", 

    # ETL and Workflow Orchestration
    "Airflow", "Luigi", "Prefect", "DBT (Data Build Tool)",

    # Messaging Systems
    "Kafka", "RabbitMQ", "Amazon SQS", "Google Pub/Sub",

    # Business Intelligence Tools
    "Tableau", "PowerBI", "Looker", "Metabase", 

    # Big Data Frameworks
    "Spark", "Hadoop", "Hive", "HBase", "Flink", "Storm",

    # Machine Learning Frameworks (optional for ML-related roles)
    "Tensorflow", "Keras", "PyTorch", "Scikit-learn", 

    # Data Manipulation and Analysis
    "Numpy", "Pandas", "Dask", "PyArrow", "Koalas",

    # Real-Time Data Processing
    "Flink", "Storm", "Beam",

    # DevOps Tools
    "Prometheus", "Grafana", "Datadog", "ELK Stack (Elasticsearch, Logstash, Kibana)",

    # Data Storage and File Formats
    "Parquet", "Avro", "ORC", "JSON", "XML", "CSV",

    # Version Control
    "GitLab", "GitHub", "Bitbucket",

    # Security and Authentication
    "OAuth", "SAML", "JWT", "IAM (Identity and Access Management)",
]

In [12]:
def extract_skills(description):
    description_cleaned = re.sub(r"[^\w\s]", " ", description)
    description_cleaned = description_cleaned.lower()
    matched_skills = [skill for skill in skills_keywords if skill.lower() in description_cleaned]
    return ", ".join(matched_skills)

def add_skills_column(df):
    if "description" not in df.columns:        raise ValueError("The DataFrame must contain a 'description' column.")
    df["skills"] = df["description"].apply(extract_skills)
    df = df.drop(columns=["description"])
    return df

def additional_transformations(df):
    df = df.where(pd.notnull(df), None)
    df = df.dropna(axis=1, how="all")
    df = df.replace({np.nan: None})
    return df

In [13]:
df = add_skills_column(df)

In [14]:
df = additional_transformations(df)

In [15]:
df.loc[:10]

,id,job_url,title,company,location,date_posted,job_type,min_amount,max_amount,is_remote,company_industry,company_num_employees,skills
0,in-162892ab33810bce,https://fr.indeed.com/viewjob?jk=162892ab33810bce,Data scientist (H/F),Euro Information,"Nantes, B5, FR",2025-01-28,None,None,None,False,None,"1,001 to 5,000","Rest, Python, Go, ORC"
1,in-81d483184fa8551d,https://fr.indeed.com/viewjob?jk=81d483184fa8551d,DevSecOps Expérimenté F/H,Askills,"Lyon, ARA, FR",2025-01-28,fulltime,None,None,False,None,11 to 50,"Rest, AWS, Terraform, Prometheus, Grafana, GitLab"
2,in-13dea2e7321cdb7d,https://fr.indeed.com/viewjob?jk=13dea2e7321cdb7d,Data Engineer H/F,DECIDEOM,"Nantes, B5, FR",2025-01-28,fulltime,None,None,True,None,51 to 200,"Rest, SQL"
3,in-7c9c9533ffc75852,https://fr.indeed.com/viewjob?jk=7c9c9533ffc75852,Data scientist (H/F),Crédit Mutuel Alliance Fédérale,"Nantes, B5, FR",2025-01-28,None,None,None,False,None,"10,000+","Rest, Python, Go, ORC"
4,in-4c5da9201beede67,https://fr.indeed.com/viewjob?jk=4c5da9201beede67,Data Engineer Expérimenté (H/F),NEXTON,"Paris, A8, FR",2025-01-28,fulltime,None,None,False,None,201 to 500,"Rest, Python, Scala, BigQuery, Airflow"
5,in-f8d7b24b49b15278,https://fr.indeed.com/viewjob?jk=f8d7b24b49b15278,Data Engineer H/F,NINDO GROUP,"Paris, A8, FR",2025-01-28,fulltime,None,None,False,None,None,"Python, Java, Scala, SQL, NoSQL, Kafka, Tablea..."
6,in-e29e4a179925353c,https://fr.indeed.com/viewjob?jk=e29e4a179925353c,Data Engineer Manager (H/F),NEXTON,"Paris, A8, FR",2025-01-28,fulltime,None,None,False,None,201 to 500,"Rest, Python, Scala, Go, BigQuery, Airflow, Nu..."
7,in-dd39b29aa8ad1b16,https://fr.indeed.com/viewjob?jk=dd39b29aa8ad1b16,Tech Talent Acquisition Confirmé H/F,PADOA,"Paris, A8, FR",2025-01-27,None,None,None,False,None,11 to 50,"Go, ORC"
8,in-dc7420eadbacb83f,https://fr.indeed.com/viewjob?jk=dc7420eadbacb83f,STAGE – Data Engineer -F/H,Thales,"Toulouse, O, FR",2025-01-27,fulltime,None,None,False,None,"10,000+","Python, Azure"
9,in-a5983107170ad5c1,https://fr.indeed.com/viewjob?jk=a5983107170ad5c1,Data engineer (H/F),Anderlaine,"La Motte-Servolex, ARA, FR",2025-01-27,None,None,None,False,None,"501 to 1,000","Rest, Python, Go, SQL, NoSQL, Azure"
10,in-cf9cc6b2fd0278a3,https://fr.indeed.com/viewjob?jk=cf9cc6b2fd0278a3,Data Engineer GCP - (F/H),MICROPOLE,"Nantes, B5, FR",2025-01-27,fulltime,None,None,False,None,"1,001 to 5,000","Go, Kubernetes, AWS, Terraform, Ansible, ORC"

## Send Job Messages to Kafka

In [16]:
from kafka import KafkaProducer
import json
import datetime
import pandas as pd

In [17]:
# Custom serializer to handle dates
def custom_serializer(obj):
    if isinstance(obj, (datetime.date, datetime.datetime)):
        return obj.isoformat()  # Converts date to 'YYYY-MM-DD' or 'YYYY-MM-DDTHH:MM:SS' format
    raise TypeError(f"Type {type(obj)} not serializable")
    

# Kafka Producer Configuration
producer = KafkaProducer(
    bootstrap_servers='kafka:9092',
    value_serializer=lambda x: json.dumps(x, default=custom_serializer).encode('utf-8')
)

# Send Job Data to Kafka
for _, job in df.iterrows():
    job_dict = job.to_dict()
    producer.send('data_engineer_jobs', value=job_dict) 
    #print('Sent : ', job['id'])

producer.flush()
producer.close()

print("Messages sent to Kafka topic 'data_engineer_jobs'")

Messages sent to Kafka topic 'data_engineer_jobs'

## Create Jobs Table in PostgreSQL

In [12]:
import psycopg2

# Connect to PostgreSQL
conn = psycopg2.connect(
    host='postgres',          
    user='root',               
    password='root',          
    database='data_engineer_jobs',  
    port=5432                  
)
cur = conn.cursor()

drop_table_query = """
DROP TABLE IF EXISTS jobs;
"""
cur.execute(drop_table_query)

create_table_query = """
CREATE TABLE jobs (
    id VARCHAR(50) PRIMARY KEY,          -- Job ID, unique identifier
    job_url VARCHAR(255),       -- URL of the job posting
    title VARCHAR(255),         -- Job title
    company VARCHAR(255),       -- Company name
    location VARCHAR(255),      -- Job location
    date_posted DATE,                    -- The date the job was posted
    job_type VARCHAR(50),                -- Job type (e.g., fulltime, part-time)
    min_amount DECIMAL(10, 2),           -- minimum salary amount
    max_amount DECIMAL(10, 2),           -- maximum salary amount
    is_remote BOOLEAN,                   -- Whether the job is remote
    company_industry VARCHAR(255),       -- Industry of the company
    company_num_employees VARCHAR(50),   -- Number of employees in the company
    skills VARCHAR(500)                  -- Skills required for the job
);
"""
cur.execute(create_table_query)

conn.commit()
cur.close()
conn.close()

print("Table 'jobs' deleted and recreated successfully!")

Table 'jobs' deleted and recreated successfully!

In [2]:
# Test Table is created 
conn = psycopg2.connect(
    host='postgres',          
    user='root',             
    password='root',         
    database='data_engineer_jobs',  
    port=5432                 
)
cur = conn.cursor()

select_query = """
SELECT * FROM jobs;
"""
cur.execute(select_query)
rows = cur.fetchall()

column_names = [desc[0] for desc in cur.description]
print("Column Names:", column_names)
print("\nTable Content:")
print(len(rows))

# Close the cursor and connection
cur.close()
conn.close()

Column Names: ['id', 'job_url', 'title', 'company', 'location', 'date_posted', 'job_type', 'min_amount', 'max_amount', 'is_remote', 'company_industry', 'company_num_employees', 'skills']

Table Content:
347

## Kafka Consumers and Data Storage

In [18]:
from kafka import KafkaConsumer
import psycopg2
import json


# Kafka Consumer Configuration
consumer = KafkaConsumer(
    'data_engineer_jobs', 
    bootstrap_servers='kafka:9092',   
    auto_offset_reset='earliest', 
    enable_auto_commit=True, 
    group_id='data_jobs_consumer_group',
    value_deserializer=lambda x: json.loads(x.decode('utf-8')) 
)

conn = psycopg2.connect(
    host='postgres',      
    user='root',          
    password='root',     
    database='data_engineer_jobs',
    port=5432                   #
)
cur = conn.cursor()

def insert_job_to_db(job):
    insert_query = """
    INSERT INTO jobs (id, job_url, title, company, location, date_posted, job_type, min_amount, max_amount, is_remote, 
                      company_industry, company_num_employees, skills)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    ON CONFLICT (id) DO NOTHING;  -- Avoid duplicate entries
    """
    cur.execute(insert_query, (
        job['id'], 
        job['job_url'], 
        job['title'], 
        job['company'], 
        job['location'], 
        job['date_posted'], 
        job['job_type'], 
        job['min_amount'], 
        job['max_amount'], 
        job['is_remote'], 
        job.get('company_industry'), 
        job.get('company_num_employees'), 
        job['skills']
    ))
    conn.commit()

# Kafka Consumer to process messages
print("Kafka Consumer is listening for messages...")
for message in consumer:
    job_data = message.value  
    try:
        insert_job_to_db(job_data)
        print(f"Inserted job with ID: {job_data['id']} into the database.")
    except Exception as e:
        print(f"Failed to insert job with ID: {job_data['id']} into the database. Error: {e}")

# Close PostgreSQL connection
cur.close()
conn.close()
print("Consumer stopped and PostgreSQL connection closed.")

Kafka Consumer is listening for messages...
Inserted job with ID: in-162892ab33810bce into the database.
Inserted job with ID: in-81d483184fa8551d into the database.
Inserted job with ID: in-13dea2e7321cdb7d into the database.
Inserted job with ID: in-7c9c9533ffc75852 into the database.
Inserted job with ID: in-4c5da9201beede67 into the database.
Inserted job with ID: in-f8d7b24b49b15278 into the database.
Inserted job with ID: in-e29e4a179925353c into the database.
Inserted job with ID: in-dd39b29aa8ad1b16 into the database.
Inserted job with ID: in-dc7420eadbacb83f into the database.
Inserted job with ID: in-a5983107170ad5c1 into the database.
Inserted job with ID: in-cf9cc6b2fd0278a3 into the database.
Inserted job with ID: in-9910f73de1094272 into the database.
Inserted job with ID: in-5ba7647e0ebb2c7d into the database.
Inserted job with ID: in-53609b164c735348 into the database.
Inserted job with ID: in-e2f1f125f1c06936 into the database.
Inserted job with ID: in-e04068388f504ddb into the database.
Inserted job with ID: in-3d7998d72ad9b1f3 into the database.
Inserted job with ID: in-5dd6a0e7ba5a0c86 into the database.
Inserted job with ID: in-4106b2f9ab602600 into the database.
Inserted job with ID: in-3064d43be3684c8a into the database.
Inserted job with ID: in-9469f487f33a4c84 into the database.
Inserted job with ID: in-2eec360b8acc4506 into the database.
Inserted job with ID: in-129f794b377fa6e7 into the database.
Inserted job with ID: in-31fa9589ff80d3d6 into the database.
Inserted job with ID: in-56b0592c8b258845 into the database.
Inserted job with ID: in-aab5d8a5b9bcbafb into the database.
Inserted job with ID: in-d7b55ca3441bc129 into the database.
Inserted job with ID: in-25d27ad0243d788f into the database.
Inserted job with ID: in-0e391d71f44d3b21 into the database.
Inserted job with ID: in-e008b54e5146823f into the database.
Inserted job with ID: in-1cbab00887936079 into the database.
Inserted job with ID: in-374c7bc0fd5d719a into the database.
Inserted job with ID: in-bb06f0e195e8f4da into the database.
Inserted job with ID: in-35bc6e509979cbb7 into the database.
Inserted job with ID: in-de33090b18da6d72 into the database.
Inserted job with ID: in-633fa0f7b0dd23ae into the database.
Inserted job with ID: in-b8f58860c5919207 into the database.
Inserted job with ID: in-8fb7096069c12d7e into the database.
Inserted job with ID: in-d73849fa21d84f77 into the database.
Inserted job with ID: in-f3bf10bd166334c8 into the database.
Inserted job with ID: in-76869f1976e08537 into the database.
Inserted job with ID: in-a5ad92cebbe4e66e into the database.
Inserted job with ID: in-9869303ce0aa3840 into the database.
Inserted job with ID: in-2c5bf4a1253e03fd into the database.
Inserted job with ID: in-0f252eb4ce01590d into the database.
Inserted job with ID: in-4fa4eb17f6feca44 into the database.
Inserted job with ID: in-fde6a1d2677ce922 into the database.
Inserted job with ID: in-487c361b4e39aed3 into the database.
Inserted job with ID: in-99f0913875c6e550 into the database.
Inserted job with ID: in-4a972c3ce40ac878 into the database.
Inserted job with ID: in-aecc4d155bf38078 into the database.
Inserted job with ID: in-3606308a0b4d4675 into the database.
Inserted job with ID: in-c8d1b6c48aca6efb into the database.
Inserted job with ID: in-dc8c159b43e2bb11 into the database.
Inserted job with ID: in-a169858539aa00e3 into the database.
Inserted job with ID: in-81a79c40266e389f into the database.
Inserted job with ID: in-a127dd605d8f60ab into the database.
Inserted job with ID: in-d51bb55e13dbf8e9 into the database.
Inserted job with ID: in-31eb823369fe96c3 into the database.
Inserted job with ID: in-1800533d5b64c6d8 into the database.
Inserted job with ID: in-6e7e050beccd710c into the database.
Inserted job with ID: in-0a3b178e0c03eb2a into the database.
Inserted job with ID: in-f5245c7b2ac05d24 into the database.
Inserted job with ID: in-89457d0227bbec21 into the database.
Inserted job with ID: in-7923dc9c4abefa6a into the database.
Inserted job with ID: in-8edb4979b154e36c into the database.
Inserted job with ID: in-90b64b881a85f785 into the database.
Inserted job with ID: in-c87ebd7da9a96335 into the database.
Inserted job with ID: in-62e91d9bada25006 into the database.
Inserted job with ID: in-19a0221634fa4c01 into the database.
Inserted job with ID: in-de3dc56b0e4f50c5 into the database.
Inserted job with ID: in-0933bb2dc7067a8f into the database.
Inserted job with ID: in-fcf339dc49cac292 into the database.
Inserted job with ID: in-6fa51c54c93fa8ad into the database.
Inserted job with ID: in-64c16b1ac0adaffe into the database.
Inserted job with ID: in-8ff748b480404d94 into the database.
Inserted job with ID: in-17fc935e5bcafc54 into the database.
Inserted job with ID: in-12f6cfc089abbd85 into the database.
Inserted job with ID: in-a31c4ecadcf3679e into the database.
Inserted job with ID: in-aeb923fb6b26fcb6 into the database.
Inserted job with ID: in-7c735470376504e7 into the database.
Inserted job with ID: in-225c83097e0ac617 into the database.
Inserted job with ID: in-256d6cfcbf04fda6 into the database.
Inserted job with ID: in-8557b96d2151a553 into the database.
Inserted job with ID: in-3184b196c7a71ce3 into the database.
Inserted job with ID: in-4f2285d61d0acd0e into the database.
Inserted job with ID: in-3f498f41e0b4f407 into the database.
Inserted job with ID: in-35f0fe5ad778508a into the database.
Inserted job with ID: in-548b400158c66afb into the database.
Inserted job with ID: in-eb2adc57ea671ca8 into the database.
Inserted job with ID: in-2ad43a8f3717186f into the database.
Inserted job with ID: in-8b493d70c5dd9a7c into the database.
Inserted job with ID: in-734aaa2efd4fd2d3 into the database.
Inserted job with ID: in-4aa72a885225508b into the database.
Inserted job with ID: in-959c9329630f8add into the database.
Inserted job with ID: in-93c0d114b128ec39 into the database.
Inserted job with ID: in-67dfb0b32fa9887b into the database.
Inserted job with ID: in-10bfda51b8ba6374 into the database.
Inserted job with ID: in-66e50d31db18c19d into the database.
Inserted job with ID: in-2695e68df3e88f84 into the database.
Inserted job with ID: in-c6fc7381fe2202da into the database.
Inserted job with ID: in-25cc7026e889937d into the database.
Inserted job with ID: in-3c5030272c8f60e3 into the database.
Inserted job with ID: in-21495e13d5c05983 into the database.
Inserted job with ID: in-d8b2054ee7c1b354 into the database.
Inserted job with ID: in-ddfd1b2ded8c7e34 into the database.
Inserted job with ID: in-82e8e46ab98783d4 into the database.
Inserted job with ID: in-a9bfea88e1f3bd76 into the database.
Inserted job with ID: in-353ce10a5941c551 into the database.
Inserted job with ID: in-f70ba0f1918dc289 into the database.
Inserted job with ID: in-b1633c568377cd5d into the database.
Inserted job with ID: in-f052cfcaeb40527a into the database.
Inserted job with ID: in-31a3d20c6fe31699 into the database.
Inserted job with ID: in-390c18226bc2b788 into the database.
Inserted job with ID: in-6c56354e97aaf3d5 into the database.
Inserted job with ID: in-5a84321c7021300f into the database.
Inserted job with ID: in-2efa1bb47c8b95e5 into the database.
Inserted job with ID: in-35ce94639130191a into the database.
Inserted job with ID: in-acf7ec13c581e085 into the database.
Inserted job with ID: in-5ef062cc24a8f9c9 into the database.
Inserted job with ID: in-6211084969aa918c into the database.
Inserted job with ID: in-861ef345ca371ff1 into the database.
Inserted job with ID: in-7ece0aac7e6d7a7f into the database.
Inserted job with ID: in-141965a5f0a5831b into the database.
Inserted job with ID: in-37f512fa40290d06 into the database.
Inserted job with ID: in-452f72b19bd3646f into the database.
Inserted job with ID: in-a73981825999e850 into the database.
Inserted job with ID: in-8099e4e49e2b2e3b into the database.
Inserted job with ID: in-4f896e2a364692e8 into the database.
Inserted job with ID: in-8fd4111c0194bdd8 into the database.
Inserted job with ID: in-ab81b2abc766b888 into the database.
Inserted job with ID: in-1de0f2ade1978032 into the database.
Inserted job with ID: in-225a0cb6a3a219f9 into the database.
Inserted job with ID: in-4d82fb39343a6751 into the database.
Inserted job with ID: in-f90a2161e68c4433 into the database.
Inserted job with ID: in-60440107064ec1da into the database.
Inserted job with ID: in-f68d461a5f8dd34a into the database.
Inserted job with ID: in-727fe97c0b25beea into the database.
Inserted job with ID: in-7d3b83438b2a78b9 into the database.
Inserted job with ID: in-d3405ad5b8f63536 into the database.
Inserted job with ID: in-080de086edb9cf73 into the database.
Inserted job with ID: in-c5c0894302622bed into the database.
Inserted job with ID: in-849108c228479620 into the database.
Inserted job with ID: in-ac246ea30ed806c5 into the database.
Inserted job with ID: in-0a54780d353e498e into the database.
Inserted job with ID: in-15f393cf2ed2a5be into the database.
Inserted job with ID: in-b12cb16c53aac856 into the database.
Inserted job with ID: in-45a103677d469265 into the database.
Inserted job with ID: in-d4e5c7593d1c065d into the database.
Inserted job with ID: in-7ded2978e3575118 into the database.
Inserted job with ID: in-05a430d2b2b64af3 into the database.
Inserted job with ID: in-9dc7be560e6ef6ae into the database.
Inserted job with ID: in-921c3334879bff42 into the database.
Inserted job with ID: in-dfe95e50fbcf8e3a into the database.
Inserted job with ID: in-a25c9c851eb36f34 into the database.
Inserted job with ID: in-ac0e373591cde809 into the database.
Inserted job with ID: in-27aaf4515c93c1fe into the database.
Inserted job with ID: in-d3e0c171e82c9bcc into the database.
Inserted job with ID: in-f209d7abca83bc36 into the database.
Inserted job with ID: in-0b2cd52b2a4f396a into the database.
Inserted job with ID: in-8eb93fb48abf2f38 into the database.
Inserted job with ID: in-9ff3026a3e1c0dfb into the database.
Inserted job with ID: in-4a7764b00e1cddfb into the database.
Inserted job with ID: in-6f986e74d47050ec into the database.
Inserted job with ID: in-6b2b6349153dc495 into the database.
Inserted job with ID: in-c8423868cada1880 into the database.
Inserted job with ID: in-996bfcd97cfaa0ac into the database.
Inserted job with ID: in-c27be10e12d738fb into the database.
Inserted job with ID: in-dbec5c48371aefc0 into the database.
Inserted job with ID: in-68c05abe186c218f into the database.
Inserted job with ID: in-eb88bb652f555f5b into the database.
Inserted job with ID: in-daad655e30eab8d5 into the database.
Inserted job with ID: in-18f54c0071db31ea into the database.
Inserted job with ID: in-465af4c8cb453c60 into the database.
Inserted job with ID: in-e000daee8c4023df into the database.
Inserted job with ID: in-3902b4f2e0a45779 into the database.
Inserted job with ID: in-1d6ce79b9e23c3d7 into the database.
Inserted job with ID: in-441b1de4cf37b6fd into the database.
Inserted job with ID: in-9e0a303b5c15ba5f into the database.
Inserted job with ID: in-21b3106ff2d3bf40 into the database.
Inserted job with ID: in-5c24750cf53410e1 into the database.
Inserted job with ID: in-e0507dec5ad02566 into the database.
Inserted job with ID: in-875c82a8d01565f1 into the database.
Inserted job with ID: in-b81e3df7e405820e into the database.
Inserted job with ID: in-a8f4e3e9c35f5fc5 into the database.
Inserted job with ID: in-7e29a3e3ea23990e into the database.
Inserted job with ID: in-b593dfb3f673eb73 into the database.
Inserted job with ID: in-2b1ec85801da646b into the database.
Inserted job with ID: in-ab61861776d10ea6 into the database.
Inserted job with ID: in-0801e049cd208100 into the database.
Inserted job with ID: in-50a018f82f4ef5d7 into the database.
Inserted job with ID: in-e4f747202fe46fe5 into the database.
Inserted job with ID: in-47f2b8b2e83f3f5a into the database.
Inserted job with ID: in-c7d36130cb8881cb into the database.
Inserted job with ID: in-82d059cc2eedf7e6 into the database.
Inserted job with ID: in-55e2e41db17d6edc into the database.
Inserted job with ID: in-2fbd6845a8428f71 into the database.
Inserted job with ID: in-8a7280a86c206505 into the database.
Inserted job with ID: in-1ade0aa658198fe6 into the database.
Inserted job with ID: in-c3262916dc9337b7 into the database.
Inserted job with ID: in-f3e86db939097857 into the database.
Inserted job with ID: in-7482f0a801a89795 into the database.
Inserted job with ID: in-2a618f7f271948e1 into the database.
Inserted job with ID: in-58e4db1eced91d0f into the database.
Inserted job with ID: in-090aa59bf684fcac into the database.
Inserted job with ID: in-47b1bfdeeb470954 into the database.
Inserted job with ID: in-4fac9baa54bf7714 into the database.
Inserted job with ID: in-d7d884a8649d6f3b into the database.
Inserted job with ID: in-7c37866b5deb6648 into the database.
Inserted job with ID: in-a37302012513b41d into the database.
Inserted job with ID: in-4582f6106e63b6f2 into the database.
Inserted job with ID: in-11000383ec1a5c10 into the database.
Inserted job with ID: in-7651ef9c4e381e97 into the database.
Inserted job with ID: in-3711b156addd5813 into the database.
Inserted job with ID: in-e738a7e793e151c5 into the database.
Inserted job with ID: in-7f2899d676b1f6d9 into the database.
Inserted job with ID: in-62cad2df53601915 into the database.
Inserted job with ID: in-388d7ca9a91dd725 into the database.
Inserted job with ID: in-361640e1ea9ca2bb into the database.
Inserted job with ID: in-7f64b16f7b350182 into the database.
Inserted job with ID: in-4c1b86fbb185370e into the database.
Inserted job with ID: in-48739a6b3a646d6b into the database.
Inserted job with ID: in-15d82e87b641e861 into the database.
Inserted job with ID: in-46ef98baf1038ed9 into the database.
Inserted job with ID: in-8dd96f8d04d9ccd5 into the database.
Inserted job with ID: in-23c01098e1293eba into the database.
Inserted job with ID: in-5f09a1048e503491 into the database.
Inserted job with ID: in-ab45f87a2a45ea7b into the database.
Inserted job with ID: in-d8fb076d3c0b9e2b into the database.
Inserted job with ID: in-5bbfe683f49fbbe2 into the database.
Inserted job with ID: in-888f121c0725cc11 into the database.
Inserted job with ID: in-e39dac42aabbc0aa into the database.
Inserted job with ID: in-82ca9fa2863304f6 into the database.
Inserted job with ID: in-90bc73f4c29531ae into the database.
Inserted job with ID: in-bfa5a957e3fbde45 into the database.
Inserted job with ID: in-5cf0827ab967aa54 into the database.
Inserted job with ID: in-a0ae811fdd51a729 into the database.
Inserted job with ID: in-5150925829727b4d into the database.
Inserted job with ID: in-0923ee285841f919 into the database.
Inserted job with ID: in-cb13bdb639ed93fe into the database.
Inserted job with ID: in-17aed82a72b0fda0 into the database.
Inserted job with ID: in-2570b01b5812f504 into the database.
Inserted job with ID: in-43578c49031154fa into the database.
Inserted job with ID: in-401dc1669b0b1051 into the database.
Inserted job with ID: in-81a0a399a4494bc7 into the database.
Inserted job with ID: in-7a8aeb6dcf1c190b into the database.
Inserted job with ID: in-d6f1e3ec94ab23be into the database.
Inserted job with ID: in-8183cfb79ab90245 into the database.
Inserted job with ID: in-bd9c7e87310d53c2 into the database.
Inserted job with ID: in-b3ad3c30b7fb1fa9 into the database.
Inserted job with ID: in-2fe5fd784467ce6a into the database.
Inserted job with ID: in-006b7d6707c40f24 into the database.
Inserted job with ID: in-0d0a0c79f31bc839 into the database.
Inserted job with ID: in-433a3f1e1e8ddac9 into the database.
Inserted job with ID: in-dc8e5ddf494570e7 into the database.
Inserted job with ID: in-aa78ccb58a72fed0 into the database.
Inserted job with ID: in-2401b748cc1918b1 into the database.
Inserted job with ID: in-636b4971a42dbb6f into the database.
Inserted job with ID: in-f2cc78941fd7e98b into the database.
Inserted job with ID: in-4a8407c0e0685d36 into the database.
Inserted job with ID: in-02e97625ca6997ec into the database.
Inserted job with ID: in-4f4e31a93c224013 into the database.
Inserted job with ID: in-0d73c2162528a6e6 into the database.
Inserted job with ID: in-c2518d305a9bc4e7 into the database.
Inserted job with ID: in-67232cf533d38954 into the database.
Inserted job with ID: in-3211b4a6ea4c36fc into the database.
Inserted job with ID: in-64dade88050997f7 into the database.
Inserted job with ID: in-4ed33749bbebfe9a into the database.
Inserted job with ID: in-7e85a6f122788f57 into the database.
Inserted job with ID: in-fba2f993fd0cb26f into the database.
Inserted job with ID: in-e05dadd2c840f347 into the database.
Inserted job with ID: in-dfa9aa3b859915ca into the database.
Inserted job with ID: in-66c43b4313b87ebf into the database.
Inserted job with ID: in-ed13cd1217958ed9 into the database.
Inserted job with ID: in-f2c147a0a007c017 into the database.
Inserted job with ID: in-ba7edbed16f70a3e into the database.
Inserted job with ID: in-e94e153503a2b415 into the database.
Inserted job with ID: in-5f5b8338a9f864af into the database.
Inserted job with ID: in-ecd5cc4646b8ba80 into the database.
Inserted job with ID: in-59f8d3085e4d40cc into the database.
Inserted job with ID: in-2a262e746205f627 into the database.
Inserted job with ID: in-2dc37cd7cdd0ec2f into the database.
Inserted job with ID: in-ebda5a72d185ca57 into the database.
Inserted job with ID: in-f4cc5fc685f50b02 into the database.
Inserted job with ID: in-48535db18b9c4927 into the database.
Inserted job with ID: in-5c980b6d874a7b0f into the database.
Inserted job with ID: in-6308a7799ad6bd39 into the database.
Inserted job with ID: in-08d055e59c58d2f3 into the database.
Inserted job with ID: in-23401f7e1faf21ef into the database.
Inserted job with ID: in-9ae0597451b434ba into the database.
Inserted job with ID: in-957462b8378d74d8 into the database.
Inserted job with ID: in-1662fc815426eab3 into the database.
Inserted job with ID: in-3bdbb78bdd6f40ef into the database.
Inserted job with ID: in-61b64564e61c07a1 into the database.
Inserted job with ID: in-8ea2dff642557569 into the database.
Inserted job with ID: in-c8d38bf9ffbd2163 into the database.
Inserted job with ID: in-c0f66930bc3773f9 into the database.
Inserted job with ID: in-58a342ed9c7ac5b8 into the database.
Inserted job with ID: in-0000264496eab5b2 into the database.
Inserted job with ID: in-e226f5bdd6c6e658 into the database.

KeyboardInterrupt: